.checkbox-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.watch__btn-all {
    width: 80px;
    background-color: $secondary-hover-color;
    padding: 5px;
    border-radius: 8px;
    background-color:  #1976d2;
    color: white;
}

.watch__btn-submit {
    width: 80px;
    background-color: $secondary-hover-color;
    padding: 5px;
    border-radius: 8px;
    background-color:  #1976d2;
    color: white;
}

.lazyload-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.video-list {
    max-width: 100%;
    display: grid;
    grid-template-columns: minmax(300px, 440px);
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

#lazyWrapper {
    max-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
}

.test {
    overflow-x: hidden !important;
}

.iframe {
    width: 280px;
    height: 430px;
}