.about__form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 5px;
}

.about__form_separator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ced0d4;
}

.about__form_input_name{
    width: 100%;
    font-size: 15px;
    color: #050505;
    font-weight: 600;
}

.about__form_time_period{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 5px;
    width: 100%;
    align-items: center;
}

.about__info_block{
  display: flex;
  align-items: center;
  position: relative;
  column-gap: 10px;
}