.main-home-content {
    width: calc(100% - 720px);
    @media (max-width: 1100px) {
        width: 68%;
        padding-left: 32px;
        padding-right: 32px;
    }
    @media (max-width: 900px) {
        width: 100%;
    }
}

.sidebar-home-left {
    width: 360px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    @media (max-width: 1100px) {
        display: none;
    }
}

.sidebar-home-right {
    width: 360px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    @media (max-width: 1100px) {
        width: 360px;
        max-width: 32%;
    }
    @media (max-width: 900px) {
        display: none;
    }
}

.sidebar-home__item-link {
    color: #F0F2F5;
}

.sidebar-home__advertisement-link {
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    &:visited {
        color: inherit;
    }
}
