.profile_posts__intro {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 16px;
  width: 100%;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  & li{
    margin-bottom: 20px;
  }
}
.profile_posts__intro_title {
  color: #050505;
  font-size: 20px;
}

.profile_posts__intro_btn {
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: #050505;
  background-color: #e4e6eb;
  padding-left: 12px;
  padding-right: 12px;
  height: 36px;
  border-radius: 5px;
  &:hover {
    background-color: #dedede;
  }
}

.profile_posts__intro_bio {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.profile_posts__intro_bio_textarea {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: 1px solid #a9a9a9;
  height: 77px;
  background-color: #f0f2f5;
  &:focus {
    border: 2px solid #1876f2;
  }
}

.profile_posts__intro_bio_btn {
  text-align: center;
  font-weight: 600;
  color: #050505;
  background-color: #e4e6eb;
  padding-left: 12px;
  padding-right: 12px;
  height: 36px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 10px;
  &:hover {
    background-color: #dedede;
  }
}

.profile_posts__intro_wrap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 5px;
  justify-content: flex-end;
}