.profile_posts__container {
  max-width: 1095px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  align-items: start;
  gap: 15px;

  @media (min-width: 925px) {
    grid-template-columns: 1fr 1.5fr;
  }
}

.profile_posts {
  background-color: #f0f2f5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.user_profile {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}


.publications {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
}
