.container>p{
    text-align: left;
    overflow-y: hidden;
    font-weight: 700;
    word-wrap: break-word;
    font-size: 1.25rem;
    color: #050505;
    line-height: 1.2;

}
.hr{
    margin: 12px 0;
    border-width: 0;
    height: 1px;
    background: #dadde1;
    color: #dadde1;
}
.categoryName{
    padding: 16px 4px;
}