.container-page {
    display: flex;
}

.sidebar-page {
    width: 23%;
    background-color: aqua;
    min-height: 91vh;
}

.main-page-content {
    width: 54%;
}

.sidebar-page__item-link {
    color: $main-content-color;
}