.container-page {
    display: flex;
    min-height: 91vh;
}

.main-home-content {
    width: 54%;
    background-color: $main-hover-color;
    @media (max-width: 1100px) {
        width: 68%;
        padding-left: 32px;
        padding-right: 32px;
    }
    @media (max-width: 900px) {
        width: 100%;
    }
}

.sidebar-home {
    width: 23%;
    max-width: 340px;
    background-color: $main-hover-color;
}

.sidebar-home-left {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    @media (max-width: 1100px) {
        display: none;
    }
}

.sidebar-home-right {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    @media (max-width: 1100px) {
        width: 360px;
        max-width: 32%;
    }
    @media (max-width: 900px) {
        display: none;
    }
}

.sidebar-home__item-link {
    color: $main-content-color;
}

.sidebar-home__advertisement-link {
    display: flex;
    align-items: center;
    gap: 8px;
    &:visited {
        color: inherit;
    }
}

.main-page-content {
    width: calc(100% - 360px);
    min-width: 68%;
    background-color: $main-hover-color;
    @media (max-width: 900px) {
        width: 100%;
    }
}
