// Friends List
.friends__block {
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.friends__title {
  font-size: 20px;
  color: #050505;
}

.friends__search {
  display: flex;
  align-items: center;
  height: 36px;
  background-color: #f0f2f5;
  padding-left: 10px;
  border-radius: 50px;
  
}

.friends__search_input {
  border: none;
  background-color: transparent;
  height: 100%;
  &:focus {
    outline: none;
  }
}

.friends__friends_list {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  @media (max-width: 680px) {
    grid-template-columns: 1fr;
  }
}

.friends__friends_list_no_results {
  text-align: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 36px;
  font-size: 20px;
  color: #65676b;
  font-weight: 700;
}

// Friend
.friends__friend_item {
  border: 0.3px solid #ececec;
  border-radius: 10px;
  display: flex;
  padding: 16px;
  column-gap: 15px;
}
.friends__friend_image {
  object-fit: cover;
  border-radius: 10px;
}

.friends__friend_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.friends__friend_name {
  font-size: 17px;
  color: #050505;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  line-height: 90%;
  &:hover {
    border-bottom: 2px solid #050505;
  }
}

.friends__friend_text {
  font-size: 13px;
  color: #65676b;
  line-height: 150%;
}
