.header__nav {
    width: 40%;
    display: flex;
    justify-content: center;
    height: 100%;

    @media (max-width: 700px) {
        display: none;
    }
}

.header__nav-link {
    @include center-flex;
    width: 25%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;

    &--active {
        @include center-flex;
        width: 25%;
        text-align: center;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;

        &::after {
            content: "";
            position: absolute;
            top: 102%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, 0);
            height: 2px;
            background-color: $active-link-color;
            border-color: $active-link-color;
        }
    }
}

.header__options-drop-menu {
    width: 360px;
    max-width: 90%;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: darkgray;
        /* цвет зоны отслеживания */
    }

    &::-webkit-scrollbar-thumb {
        background-color: lightgray;
        /* цвет бегунка */
        border-radius: 20px;
        /* округлось бегунка */
    }
}

.header__input {
    height: 40px;
    width: 240px;

    @media (max-width: 1100px) {
        width: 40px;
        height: 40px;
    }
}

.header__drawer-searh-input {
    border-radius: 50px;
    height: 40px;
    width: 280px;

    @media (max-width: 600px) {
        width: 240px;
    }
}

.header__search-icon-wrap {
    border-radius: 50px;

    @media (max-width: 1100px) {
        justify-content: center;
        border-radius: 50%;
    }
}

.drawer__search-icon-wrap {
    border-radius: 50px;
}

.users-list {
    width: 100%;
    min-width: 100%;
    min-height: 400px;

    @media (max-width: 700px) {
        min-width: none;
        max-width: max-content;
    }
}

.search__list-item {
    width: 100%;
    max-width: 100%;

    @media (max-width: 700px) {
        max-width: max-content;
    }
}

.search__user-link {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    gap: 16px;

    @media (max-width: 700px) {
        max-width: max-content;
    }
}

.searh__user-text {
    @media (max-width: 700px) {
        display: none;
    }
}

.search__user-remove {
    max-width: 20px;
    max-height: 20px;
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.header__menu-item-link {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;

    &:visited {
        color: inherit;
    }
}

.header__menu-item {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header__menu-item-icon {
    box-sizing: content-box;
    padding: 8px;
    border-radius: 50%;
    background-color: $secondary-hover-color;
}

.header__notify-btn {
    border-radius: 15px;
    background-color: $secondary-hover-color;
}