.header__nav {
    width: 40%;
    display: flex;
    justify-content: center;
        height: 100%;
    @media (max-width: 700px) {
        display: none;
    }
}

.header__nav-link {
    width: 25%;
    text-align: center;
    color: $main-content-color;
    &--active {
        width: 25%;
        text-align: center;
        color: $active-link-color;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 132%;
            left: 50%;
            width: 100%;    
            transform: translate(-50%, 0);
            height: 2px;
            background-color: $active-link-color;
            border-color: $active-link-color;
        }
    }
}

.header__drop-menu {
    width: 360px;
    max-width: 90%;
}