.header__nav {
    width: 40%;
    display: flex;
    justify-content: center;
        height: 100%;
    @media (max-width: 700px) {
        display: none;
    }
}

.header__nav-link {
    @include center-flex;
    width: 25%;
    text-align: center;
    color: $main-content-color;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    &:hover {
        background-color: #F0F2F5;
    }
    &--active {
        @include center-flex;
        width: 25%;
        text-align: center;
        color: $active-link-color;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        &::after {
            content: "";
            position: absolute;
            top: 116%;
            left: 50%;
            width: 100%;    
            transform: translate(-50%, 0);
            height: 2px;
            background-color: $active-link-color;
            border-color: $active-link-color;
        }
    }
}

.header__drop-menu {
    width: 360px;
    max-width: 90%;
}

.custom-drawer-paper{

}

.test {
    background-color: blue;
}

.custom-backdrop {
    background-color: blue;
    // transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    opacity: 0 !important;
    // transition: opacity 0;
    border: 1px solid red;

}