.navHeader {
    width: 40%;
    display: flex;
    justify-content: center;
    @media (max-width: 700px) {
        display: none;
    }
}

.navListItem {
    width: 25%;
    text-align: center;
}

.navItemLink {
    width: 25%;
    text-align: center;
    color: rgb(101, 103, 107);
}