.profile__nav {
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 16px 27px -19px #8a8a8a;
  z-index: 10;
}
.profile__nav_container {
  max-width: 1095px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  position: relative;
  border-top: 1px solid #ced0d4;
}

.profile__nav {
  display: flex;

  @media (max-width: 300px) {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: -115px;
    left: 10px;
    width: 210px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #c5c5c5;
  }
  &_open {
    display: flex;
  }
}
.profile__nav_item {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #65676b;
  font-weight: 600;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition-duration: 300ms;
  border-bottom: 1px solid transparent;
  border-radius: 10px;
  &:hover {
    background-color: #dedede;
  }
  @media (max-width: 300px) {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
.profile__nav_item[data-active] {
  color: #1876f2;
  border-bottom: 3px solid #1876f2;
  border-radius: 0;
  cursor: auto;
  &:hover {
    background-color: transparent;
  }
  @media (max-width: 300px) {
    border-bottom: none;
    color: #65676b;
    position: relative;
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 10px;
      background-color: #1876f2;
      position: absolute;
      top: 12px;
      right: 14px;
      border-radius: 1px;
      transform: rotate(130deg);
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 7px;
      background-color: #1876f2;
      position: absolute;
      top: 13px;
      right: 20px;
      border-radius: 1px;
      transform: rotate(45deg);
    }
  }
}

.profile__more_btn {
  display: none;
  align-items: center;
  font-size: 15px;
  color: #65676b;
  font-weight: 600;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition-duration: 300ms;
  border-bottom: 1px solid transparent;
  border-radius: 10px;
  max-width: 80px;
  &:hover {
    background-color: #dedede;
  }
  @media (max-width: 300px) {
    display: flex;
  }
}
