.page-sidebar {
    min-width: 200px;
    width: 360px;
    max-width: 20%;
    box-sizing: content-box;
    padding: 10px;
    @media (max-width: 700px) {
        padding: 0;
        min-width: max-content;
        width: max-content;
        max-width: 80px;
    }
}
