.page-sidebar {
    min-width: 220px;
    width: 33%;
    max-width: 360px;
    box-sizing: content-box;

    @media (max-width: 700px) {
        padding: 0;
        min-width: max-content;
        width: max-content;
        max-width: 80px;
    }

    @media (max-width: 480px) {
        box-sizing: border-box;
        min-width: 50px;
        width: 50px;
    }
}