html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.tempBtn {
    display: block;
    color: white;
    background-color: grey;
    font-size: 24px;
    font-weight: 600;
    padding: 7px;
    margin: 0 auto;
    border: 2px solid darkgray;
}

.tempTitle {
    text-align: center;
    font-size: 32px;
    padding: 10px;
}

.page {
    min-height: 80vh;
    background-color: #F0F2F5;
    height: 100%;
}

.test {
    background-color: red;
    width: 30px;
    height: 30px;
}