.main_box{
    border: solid 1px #CED0D4;
    background-color: #FFF;
    border-radius: 3%;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 250px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    margin: 4px;
}
.img{
    //background-image: url("https://media.istockphoto.com/id/1393987001/pl/zdj%C4%99cie/ring-lite-pomaga-w-moim-podca%C5%9Bcie.jpg?s=1024x1024&w=is&k=20&c=q4TE0aVSV2Brs49n46YZNiFSvPyPDf8akC-A-ZnNTgE=");
/*     width:100%;
    height:100%; */
    position: 'relative';
    width: '100%';
    padding-top: '100%';
    object-fit: cover;
}
.friendText{
    font-family: inherit;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    cursor: pointer;
}
.friendName{
    padding-bottom: 1px;
    font-size: 1.0625rem;
    color: #050505;
    font-weight: 600;
    line-height: 1.1765;
    &:hover{
        text-decoration: underline;
    }
}
.mutualFriends{
    font-size: .9375rem;
    color: #656768;
    line-height: 1.3333;
    font-weight: 400;
    user-select: none;
}
.avatarMutualFriens{
    display: flex;

    & :nth-last-child(1){
        margin-left: -15%;
    }
}
